force-app/main/default/flows/Screen_Work_Concluir_e_Enviar_Prox_Sprint.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Ajustar_dados_da_work_nova</name>
        <label>Ajustar dados da work nova</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>recordId.BaPoints__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Calcular_Pontos_Concluidos</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.OriginalWork__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.DeliveredPointsOnly__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Encerrada</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Screen_WorkDoneName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.SprintRank__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>888.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.RemainingBaPoints__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Calcular_Pontos_Concluidos</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Criar_nova_work_de_pontos_concluidos</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>var_WorkConcluidaNome</name>
        <dataType>String</dataType>
        <expression>{!recordId.Name} &amp; &quot; &quot; &amp; &quot;(DONE)&quot;</expression>
    </formulas>
    <interviewLabel>Screen: Work: Concluir e Enviar Prox Sprint {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen: Work: Concluir e Enviar Prox Sprint</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Criar_nova_work_de_pontos_concluidos</name>
        <label>Criar nova work de pontos concluidos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Atualizar_registro_original</targetReference>
        </connector>
        <inputReference>recordId</inputReference>
    </recordCreates>
    <recordUpdates>
        <name>Atualizar_registro_original</name>
        <label>Atualizar registro original</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.OriginalWork__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BaPoints__c</field>
            <value>
                <elementReference>Screen_Pontos_Estimados_para_Concluir</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sprint__c</field>
            <value>
                <elementReference>recordId.Sprint__r.NextSprint__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>AgileWork__c</object>
    </recordUpdates>
    <screens>
        <name>Screen_01</name>
        <label>Screen 01</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Calcular_Pontos_Concluidos</targetReference>
        </connector>
        <fields>
            <name>Screen_TextoExplicacao</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Utilize esta tela para Encerrar os pontos concluídos na Sprint finalizada e enviar os pontos que faltam para concluir para a &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;próxima Sprint.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_01_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_01_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Screen_Pontos_Estimados_para_Concluir</name>
                    <dataType>Number</dataType>
                    <fieldText>Pontos Estimados para Concluir</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>false</booleanValue>
                    </isReadOnly>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_01_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Screen_WorkDoneName</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>var_WorkConcluidaNome</elementReference>
                    </defaultValue>
                    <fieldText>Rótulo Work Concluída</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Nome maior que 80 caracteres&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Screen_WorkDoneName})&lt;80</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_01_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Screen_01</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <transforms>
        <name>Calcular_Pontos_Concluidos</name>
        <label>Calcular Pontos Concluidos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Ajustar_dados_da_work_nova</targetReference>
        </connector>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <scale>0</scale>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <formulaDataType>Number</formulaDataType>
                    <formulaExpression>{!recordId.BaPoints__c} - {!Screen_Pontos_Estimados_para_Concluir}</formulaExpression>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AgileWork__c</objectType>
    </variables>
</Flow>
