force-app/main/default/flows/Screen_Work_InsertNewTask.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <description>Alguns valores são determinados pelas variaveis de &apos;tipo de registro&apos; e &apos;atribuido a&apos;</description>
        <name>AssignTaskFields</name>
        <label>AssignTaskFields</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>var_AgileTask.Work__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AgileTask.Team__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Team__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AgileTask.EstimatedEffort__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.001</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AgileTask.RemainingEffort__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.001</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AgileTask.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AgileTask.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScreenTaskName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AgileTask.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScreenTaskDescription</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_Task</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>AgileTaskRecordTypesChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AgileTask__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>var_AgileTask.RecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>AgileTeamMemberAssign</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AgileTeam__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Team__r.Id</elementReference>
            </value>
        </filters>
        <object>AgileTeamMember__c</object>
        <outputAssignments>
            <assignToReference>var_AgileTask.AssignedTo__c</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>var_WorkCodeTitle</name>
        <dataType>String</dataType>
        <expression>{!recordId.WorkCode__c} &amp; &quot;: &quot; &amp; {!recordId.Name}</expression>
    </formulas>
    <interviewLabel>Screen: Work - Nova task {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen: Work - Nova task</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Insert_Task</name>
        <label>Insert Task</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <inputReference>var_AgileTask</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Task_Record_Type_Id</name>
        <label>Get Task Record Type Id</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_InsertNewTask</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AgileTask__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Screen_InsertNewTask</name>
        <label>Screen InsertNewTask</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AssignTaskFields</targetReference>
        </connector>
        <fields>
            <name>ScreenCodeTitle</name>
            <fieldText>&lt;p&gt;{!var_WorkCodeTitle}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ScreenTaskName</name>
            <dataType>String</dataType>
            <fieldText>Tarefa</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Insira a tarefa a ser executada, por exemplo: &quot;Criar tela&quot; ou &quot;Enviar Email&quot;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt; A tarefa deve ter menos de 80 caracteres&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!ScreenTaskName}) &lt; 80</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>ScreenTaskDescription</name>
            <fieldText>Descrição da tarefa</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;Este campo é opcional. Certifique-se de incluir orientações de execução da tarefa. Informações importantes deve estar na descrição da Work como um critério de aceite ou parte de critério existente.&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Descrição é muito longa, por favor revise.&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!ScreenTaskDescription}) &lt; 1500</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Screen_InsertNewTask_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_InsertNewTask_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ScreenRecordType</name>
                    <choiceReferences>AgileTaskRecordTypesChoiceSet</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Task_Record_Type_Id.Id</elementReference>
                    </defaultValue>
                    <fieldText>Tipo de Registro</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_InsertNewTask_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ScreenAssignTo</name>
                    <choiceReferences>AgileTeamMemberAssign</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Atribuído a</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Task_Record_Type_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>AgileWork__c</objectType>
    </variables>
    <variables>
        <name>var_AgileTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AgileTask__c</objectType>
    </variables>
</Flow>
