force-app/main/default/flows/Screen_Work_Nova_work_relacionada.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>AssignBugRecords</name>
        <label>Atribuir Valores do Registro</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>var_NewWorkRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Screen_Work_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NewWorkRecord.UserStoryEQP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Screen_Work_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NewWorkRecord.OriginalWork__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NewWorkRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Screen_Work_Tipo_Registro</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NewWorkRecord.Team__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Team__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NewWorkRecord.AgileEpic__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.AgileEpic__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NewWorkRecord.BaPoints__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NewWorkRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Nova</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NewWorkRecord.SprintRank__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Criar_Work_Nova</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>AgileWorkRecordTypesChoice</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AgileWork__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>var_WorkCodeName</name>
        <dataType>String</dataType>
        <expression>{!recordId.WorkCode__c} &amp; &quot;: &quot; &amp; {!recordId.Name}</expression>
    </formulas>
    <interviewLabel>Screen: Work {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen: Work - Nova work relacionada</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Criar_Work_Nova</name>
        <label>Criar Work Nova</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <inputReference>var_NewWorkRecord</inputReference>
    </recordCreates>
    <screens>
        <name>Screen_Work_Relacionado</name>
        <label>Screen Work Relacionado</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AssignBugRecords</targetReference>
        </connector>
        <fields>
            <name>Screen_Work_Origin</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(76, 71, 71);&quot;&gt;{!var_WorkCodeName}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_Work_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>recordId.Name</elementReference>
            </defaultValue>
            <fieldText>Work</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Screen_Work_Description</name>
            <defaultValue>
                <stringValue>Insira aqui uma descrição breve do erro</stringValue>
            </defaultValue>
            <fieldText>Descrição</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Screen_Work_Tipo_Registro</name>
            <choiceReferences>AgileWorkRecordTypesChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Tipo Registro</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Screen_Work_Relacionado</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AgileWork__c</objectType>
    </variables>
    <variables>
        <name>var_NewWorkRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>AgileWork__c</objectType>
    </variables>
</Flow>
