force-app/main/default/flows/Task_FieldUpdates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <decisions>
        <name>Criado_Sem_Sprint</name>
        <label>Criado Sem Sprint?</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Encerrada</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Avaliar Proximo</defaultConnectorLabel>
        <rules>
            <name>Preencher_Sprint</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Work__r.Sprint__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SprintCreated__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atribuir_Sprint_de_Criacao</targetReference>
            </connector>
            <label>Preencher Sprint</label>
        </rules>
    </decisions>
    <decisions>
        <name>Encerrada</name>
        <label>Encerrada?</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <defaultConnectorLabel>Avaliar Proximo</defaultConnectorLabel>
        <rules>
            <name>Tarefa_Encerrada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Work__r.Sprint__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sprint__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atribuir_Campos_de_Encerramento</targetReference>
            </connector>
            <label>Tarefa Encerrada</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>var_ISNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>var_NOW</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Task - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task - Field Updates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Atribuir_Campos_de_Encerramento</name>
        <label>Atribuir Campos de Encerramento</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <inputAssignments>
            <field>CompletedDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CompletedOn__c</field>
            <value>
                <elementReference>var_NOW</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sprint__c</field>
            <value>
                <elementReference>$Record.Work__r.Sprint__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Atribuir_Sprint_de_Criacao</name>
        <label>Atribuir Sprint de Criacao</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Encerrada</targetReference>
        </connector>
        <inputAssignments>
            <field>SprintCreated__c</field>
            <value>
                <elementReference>$Record.Work__r.Sprint__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Atualizar_tempos</name>
        <label>Atualizar tempos</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Criado_Sem_Sprint</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EstimatedEffort__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>EstimatedEffort__c</field>
            <value>
                <numberValue>0.001</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RemainingEffort__c</field>
            <value>
                <numberValue>0.001</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Atualizar_tempos</targetReference>
        </connector>
        <object>AgileTask__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>500</triggerOrder>
</Flow>
