force-app/main/default/flows/Task_CreateTestTask.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Ajustar_Task</name>
        <label>Ajustar Task</label>
        <locationX>314</locationX>
        <locationY>731</locationY>
        <assignmentItems>
            <assignToReference>Var_AgileTask.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_TaskRecordType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_AgileTask.LinkedTask__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_AgileTask.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_AgileTask.Work__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Work__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_AgileTask.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Order__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_AgileTask.Team__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Team__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_AgileTask.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Description__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Criar_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_RT_Bug</name>
        <label>Assign RT Bug</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>var_TaskRecordType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RecordType_Task_Bug.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ajustar_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_RT_Test</name>
        <label>Assign RT Test</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>var_TaskRecordType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RecordType_Task_Test.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ajustar_Task</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Qual_Tipo_de_Task</name>
        <label>Qual Tipo de Task?</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Encerrar Fluxo</defaultConnectorLabel>
        <rules>
            <name>Test_Com_Erro_Encerrado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TestedWithBug__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Test</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_RecordType_Task_Bug</targetReference>
            </connector>
            <label>Test Com Erro Encerrado</label>
        </rules>
        <rules>
            <name>Bug_Com_Erro_Encerrado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bug</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_RecordType_Task_Test</targetReference>
            </connector>
            <label>Bug Com Erro Encerrado</label>
        </rules>
    </decisions>
    <description>Criar task de teste quando bug for concluido</description>
    <environments>Default</environments>
    <interviewLabel>Task - Criar Task de Test {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task - Criar Task de Test</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Criar_Task</name>
        <label>Criar Task</label>
        <locationX>314</locationX>
        <locationY>839</locationY>
        <inputReference>Var_AgileTask</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_RecordType_Task_Bug</name>
        <label>Get RecordType Task Bug</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_RT_Bug</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AgileTask__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bug</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RecordType_Task_Test</name>
        <label>Get RecordType Task Test</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_RT_Test</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AgileTask__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Test</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Qual_Tipo_de_Task</targetReference>
        </connector>
        <filterFormula>OR( {!$Record.RecordType.DeveloperName} = &apos;Test&apos; , {!$Record.RecordType.DeveloperName} = &apos;Bug&apos;)</filterFormula>
        <object>AgileTask__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Var_AgileTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AgileTask__c</objectType>
    </variables>
    <variables>
        <name>var_TaskRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
