force-app/main/default/flows/Work_InsertStandardTasks.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Atribuir_Valores_Task_CRIAR_PLANO_DE_TESTE</name>
        <label>Atribuir Valores Task CRIAR PLANO DE TESTE</label>
        <locationX>50</locationX>
        <locationY>1139</locationY>
        <assignmentItems>
            <assignToReference>Var_AgileTaskRecord.Team__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Team__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_AgileTaskRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_AgileTaskRecord.EstimatedEffort__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.001</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_AgileTaskRecord.RemainingEffort__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.001</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_AgileTaskRecord.Work__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_AgileTaskRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Criar Plano de Testes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_AgileTaskRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_NeTaskTaskId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_AgileTaskList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Var_AgileTaskRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Atribuir_Valores_Task_DESENVOLVER</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribuir_Valores_Task_DESENVOLVER</name>
        <label>Atribuir Valores Task DESENVOLVER</label>
        <locationX>314</locationX>
        <locationY>1439</locationY>
        <assignmentItems>
            <assignToReference>Var_AgileTaskRecord.Team__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Team__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_AgileTaskRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_AgileTaskRecord.EstimatedEffort__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.001</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_AgileTaskRecord.RemainingEffort__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.001</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_AgileTaskRecord.Work__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_AgileTaskRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Desenvolver</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_AgileTaskRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_NeTaskTaskId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_AgileTaskList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Var_AgileTaskRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Valores_Task_IMPLANTAR_DEV</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribuir_Valores_Task_SIMULAR</name>
        <label>Atribuir Valores Task SIMULAR</label>
        <locationX>314</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>Var_AgileTaskRecord.Team__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Team__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_AgileTaskRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_AgileTaskRecord.EstimatedEffort__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.001</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_AgileTaskRecord.RemainingEffort__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.001</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_AgileTaskRecord.Work__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_AgileTaskRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Simular Cenário e Analisar Causa</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_AgileTaskRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_NeTaskTaskId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_AgileTaskList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Var_AgileTaskRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Atribuir_Valores_Task_DESENVOLVER</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribuir_Valores_Task_TRIAR</name>
        <label>Atribuir Valores Task TRIAR</label>
        <locationX>314</locationX>
        <locationY>1139</locationY>
        <assignmentItems>
            <assignToReference>Var_AgileTaskRecord.Team__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Team__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_AgileTaskRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_AgileTaskRecord.EstimatedEffort__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.001</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_AgileTaskRecord.RemainingEffort__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.001</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_AgileTaskRecord.Work__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_AgileTaskRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Triar Solicitação/Bug</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_AgileTaskRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_NeTaskTaskId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_AgileTaskList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Var_AgileTaskRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Atribuir_Valores_Task_SIMULAR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Implantar da Scratch para a DEV, se precisar trocar para &quot;QA&quot;, se o projeto tiver UAT</description>
        <name>Valores_Task_IMPLANTAR_DEV</name>
        <label>Valores Task IMPLANTAR DEV</label>
        <locationX>314</locationX>
        <locationY>1547</locationY>
        <assignmentItems>
            <assignToReference>Var_AgileTaskRecord.Team__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Team__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_AgileTaskRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_AgileTaskRecord.EstimatedEffort__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.001</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_AgileTaskRecord.RemainingEffort__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.001</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_AgileTaskRecord.Work__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_AgileTaskRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Implantar em DEV</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_AgileTaskRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_NeTaskTaskId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_AgileTaskList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Var_AgileTaskRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Valores_Task_IMPLANTAR_QA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Implantar da DEV para a QA, se precisar trocar para &quot;UAT&quot;, se o projeto tiver UAT</description>
        <name>Valores_Task_IMPLANTAR_QA</name>
        <label>Valores Task IMPLANTAR QA</label>
        <locationX>314</locationX>
        <locationY>1655</locationY>
        <assignmentItems>
            <assignToReference>Var_AgileTaskRecord.Team__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Team__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_AgileTaskRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_AgileTaskRecord.EstimatedEffort__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.001</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_AgileTaskRecord.RemainingEffort__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.001</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_AgileTaskRecord.Work__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_AgileTaskRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Implantar em QA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_AgileTaskRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_NeTaskTaskId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_AgileTaskList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Var_AgileTaskRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Valores_Task_TESTAR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Implantar da DEV para a QA, se precisar trocar para &quot;UAT&quot;, se o projeto tiver UAT</description>
        <name>Valores_Task_TESTAR</name>
        <label>Valores Task TESTAR</label>
        <locationX>314</locationX>
        <locationY>1763</locationY>
        <assignmentItems>
            <assignToReference>Var_AgileTaskRecord.Team__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Team__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_AgileTaskRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_AgileTaskRecord.EstimatedEffort__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.001</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_AgileTaskRecord.RemainingEffort__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.001</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_AgileTaskRecord.Work__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_AgileTaskRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Testar Work (BA)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_AgileTaskRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_NeTaskTestkId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_AgileTaskList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Var_AgileTaskRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Criar_Tasks</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Marcado_para_gerar_tasks</name>
        <label>Marcado para gerar tasks?</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Criar_Tasks_Padrao</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TriggerDefaultTasksFlow__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TriggerDefaultTasksFlow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DeliveredPointsOnly__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Desmarcar_Campo</targetReference>
            </connector>
            <label>Criar Tasks Padrao</label>
        </rules>
        <rules>
            <name>Work_Nova</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WorkRecordType</targetReference>
            </connector>
            <label>Work Nova</label>
        </rules>
    </decisions>
    <decisions>
        <name>Query_de_Tasks_Nula</name>
        <label>Query de Tasks Nula?</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Deletar_Tasks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Work Tem Tasks</defaultConnectorLabel>
        <rules>
            <name>Query_Nula</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetWorkTasks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WorkRecordType</targetReference>
            </connector>
            <label>Query Nula/Vazia</label>
        </rules>
    </decisions>
    <decisions>
        <name>WorkRecordType</name>
        <label>Tipo de Registro da Work</label>
        <locationX>314</locationX>
        <locationY>1031</locationY>
        <defaultConnectorLabel>No Record Type</defaultConnectorLabel>
        <rules>
            <name>UserStory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UserStory</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atribuir_Valores_Task_CRIAR_PLANO_DE_TESTE</targetReference>
            </connector>
            <label>UserStory</label>
        </rules>
        <rules>
            <name>CaseBug</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CaseBug</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atribuir_Valores_Task_TRIAR</targetReference>
            </connector>
            <label>Bug</label>
        </rules>
    </decisions>
    <description>Atualizar variaveis com a query a seguir:

select Id, Name, DeveloperName, Description, SobjectType, IsActive  from RecordType where SobjectType = &apos;AgileTask__c&apos;</description>
    <environments>Default</environments>
    <formulas>
        <name>Var_ISNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Work - Criar Tarefas padrão {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Work - Criar Tarefas padrão</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Criar_Tasks</name>
        <label>Criar Tasks</label>
        <locationX>314</locationX>
        <locationY>1871</locationY>
        <inputReference>Var_AgileTaskList</inputReference>
    </recordCreates>
    <recordDeletes>
        <description>Excluir tasks não iniciadas ou finalizadas</description>
        <name>Deletar_Tasks</name>
        <label>Deletar Tasks</label>
        <locationX>138</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>WorkRecordType</targetReference>
        </connector>
        <inputReference>GetWorkTasks</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>GetWorkTasks</name>
        <label>Buscar Tasks da Work</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Query_de_Tasks_Nula</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Work__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AgileTask__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Desmarcar_Campo</name>
        <label>Desmarcar Campo</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>GetWorkTasks</targetReference>
        </connector>
        <inputAssignments>
            <field>TriggerDefaultTasksFlow__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Marcado_para_gerar_tasks</targetReference>
        </connector>
        <object>AgileWork__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Var_AgileTaskList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AgileTask__c</objectType>
    </variables>
    <variables>
        <name>Var_AgileTaskRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AgileTask__c</objectType>
    </variables>
    <variables>
        <description>Id do tipo de registro de developerName = &quot;Bug&quot;</description>
        <name>Var_NeTaskBugId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>01289000001CYbeAAG</stringValue>
        </value>
    </variables>
    <variables>
        <description>Id do tipo de registro de developerName = &quot;Task&quot;</description>
        <name>Var_NeTaskTaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>01289000001CYbfAAG</stringValue>
        </value>
    </variables>
    <variables>
        <description>Id do tipo de rezistru de developerName = &quot;Test&quot;</description>
        <name>Var_NeTaskTestkId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>01289000001CYbgAAG</stringValue>
        </value>
    </variables>
</Flow>
