force-app/main/default/flows/Work_FieldUpdates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <decisions>
        <name>Campo_pendencias_preenchido</name>
        <label>Campo pendencias preenchido?</label>
        <locationX>182</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>Desmarcar_Impedimento</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não tem pendencia</defaultConnectorLabel>
        <rules>
            <name>Tem_Pendencias</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Impediment__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Marcar_impedimento</targetReference>
            </connector>
            <label>Tem Pendencias</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsBlankApproverUser</name>
        <label>Usuário aprovador vazio?</label>
        <locationX>182</locationX>
        <locationY>923</locationY>
        <defaultConnector>
            <targetReference>SprintIncluded</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Avaliar Próximo</defaultConnectorLabel>
        <rules>
            <name>IsApproverNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ApproverUser__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignStandardApprover</targetReference>
            </connector>
            <label>IsApproverNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsNewRecord</name>
        <label>Novo Registro?</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Campo_pendencias_preenchido</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Avaliar Proximo</defaultConnectorLabel>
        <rules>
            <name>IsNewWorkRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DeliveredPointsOnly__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CleanRecordFields</targetReference>
            </connector>
            <label>WorkNova</label>
        </rules>
    </decisions>
    <decisions>
        <name>SprintExcluded</name>
        <label>Foi excluído da Sprint?</label>
        <locationX>182</locationX>
        <locationY>1523</locationY>
        <defaultConnector>
            <targetReference>Work_Foi_Atribuida</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Avaliar Próximo</defaultConnectorLabel>
        <rules>
            <name>ExcluidoSprintAprovado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sprint__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sprint__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Sprint__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atualizar_Status_Removida</targetReference>
            </connector>
            <label>Excluido Sprint e Aprovado</label>
        </rules>
    </decisions>
    <decisions>
        <name>SprintIncluded</name>
        <label>Foi incluído na Sprint?</label>
        <locationX>182</locationX>
        <locationY>1223</locationY>
        <defaultConnector>
            <targetReference>SprintExcluded</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Avaliar Próximo</defaultConnectorLabel>
        <rules>
            <name>FoiIncluidoNaSprint</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sprint__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sprint__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Sprint__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Encerrada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atualizar_Status_Incluida</targetReference>
            </connector>
            <label>Foi Incluído na Sprint</label>
        </rules>
    </decisions>
    <decisions>
        <name>Work_Cancelada</name>
        <label>Work Cancelada?</label>
        <locationX>182</locationX>
        <locationY>2231</locationY>
        <defaultConnector>
            <targetReference>Work_Encerrada</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Avaliar Próximo</defaultConnectorLabel>
        <rules>
            <name>WorkStatusCancelada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sprint_Rank_Cancelada</targetReference>
            </connector>
            <label>WorkStatusCancelada</label>
        </rules>
    </decisions>
    <decisions>
        <name>Work_Encerrada</name>
        <label>Work Encerrada?</label>
        <locationX>182</locationX>
        <locationY>2531</locationY>
        <defaultConnector>
            <targetReference>Atualizar_RT_Ajustado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Avaliar Próximo</defaultConnectorLabel>
        <rules>
            <name>WorkStatusEncerrada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Encerrada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atualizar_campos_de_Encerrada</targetReference>
            </connector>
            <label>WorkStatusEncerrada</label>
        </rules>
    </decisions>
    <decisions>
        <name>Work_Foi_Atribuida</name>
        <label>Work Foi Atribuida?</label>
        <locationX>182</locationX>
        <locationY>1823</locationY>
        <defaultConnector>
            <targetReference>Work_Cancelada</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Avaliar Próximo</defaultConnectorLabel>
        <rules>
            <name>WorkAtribuida</name>
            <conditionLogic>(1 AND 2) OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TeamMemberAssignedTo__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TeamMemberAssignedTo__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Popular_Recurso</targetReference>
            </connector>
            <label>WorkAtribuida</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>var_AdjustedRecordType</name>
        <dataType>String</dataType>
        <expression>IF(
{!$Record.RecordType.DeveloperName} = &quot;CaseBug&quot;, &quot;Chamado&quot;,
IF(
AND( {!$Record.RecordType.DeveloperName} = &quot;UserStory&quot;,{!$Record.Improvement__c} = true), &quot;Melhoria&quot;,&quot;User Story&quot;)
)</expression>
    </formulas>
    <formulas>
        <name>Var_ISNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Work - Atualizar Registros {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Work - Atualizar Campos</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>AssignStandardApprover</name>
        <label>Atribuir Aprovador Padrao</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>SprintIncluded</targetReference>
        </connector>
        <inputAssignments>
            <field>ApproverUser__c</field>
            <value>
                <elementReference>$Record.Team__r.ProjectOwner__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Atribuir_Tasks</name>
        <label>Atribuir Tasks</label>
        <locationX>50</locationX>
        <locationY>2039</locationY>
        <connector>
            <targetReference>Work_Cancelada</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssignedTo__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>AssignedTo__c</field>
            <value>
                <elementReference>$Record.TeamMemberAssignedTo__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Tasks__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Atualizar_campos_de_Encerrada</name>
        <label>Atualizar campos de Encerrada</label>
        <locationX>50</locationX>
        <locationY>2639</locationY>
        <connector>
            <targetReference>Encerrar_Tasks_Relacionadas</targetReference>
        </connector>
        <inputAssignments>
            <field>RemainingBaPoints__c</field>
            <value>
                <elementReference>$Record.BaPoints__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SprintRank__c</field>
            <value>
                <numberValue>888.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Atualizar_RT_Ajustado</name>
        <label>Atualizar RT Ajustado</label>
        <locationX>182</locationX>
        <locationY>2939</locationY>
        <inputAssignments>
            <field>RecordType2__c</field>
            <value>
                <elementReference>var_AdjustedRecordType</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Atualizar_Status_Incluida</name>
        <label>Atualizar Status Incluida</label>
        <locationX>50</locationX>
        <locationY>1331</locationY>
        <connector>
            <targetReference>SprintExcluded</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ApproverDate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Sprint Backlog</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Atualizar_Status_Removida</name>
        <label>Atualizar Status Removida</label>
        <locationX>50</locationX>
        <locationY>1631</locationY>
        <connector>
            <targetReference>Work_Foi_Atribuida</targetReference>
        </connector>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Aprovada</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>CleanRecordFields</name>
        <label>Limpar Campos</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Campo_pendencias_preenchido</targetReference>
        </connector>
        <inputAssignments>
            <field>ApproverDate__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>ReleaseDeploymentControl__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Sprint__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Nova</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkApprovedByPo__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkEnvironment__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Desmarcar_Impedimento</name>
        <label>Desmarcar Impedimento</label>
        <locationX>314</locationX>
        <locationY>731</locationY>
        <connector>
            <targetReference>IsBlankApproverUser</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HasImpediment__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>HasImpediment__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Encerrar_Tasks_Relacionadas</name>
        <label>Encerrar Tasks Relacionadas</label>
        <locationX>50</locationX>
        <locationY>2747</locationY>
        <connector>
            <targetReference>Atualizar_RT_Ajustado</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Deferred</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Tasks__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Marcar_impedimento</name>
        <label>Marcar impedimento</label>
        <locationX>50</locationX>
        <locationY>731</locationY>
        <connector>
            <targetReference>IsBlankApproverUser</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HasImpediment__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>HasImpediment__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Popular_Recurso</name>
        <label>Popular Recurso</label>
        <locationX>50</locationX>
        <locationY>1931</locationY>
        <connector>
            <targetReference>Atribuir_Tasks</targetReference>
        </connector>
        <inputAssignments>
            <field>WhatId__c</field>
            <value>
                <elementReference>$Record.TeamMemberAssignedTo__r.AgileResource__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Sprint_Rank_Cancelada</name>
        <label>Sprint Rank Cancelada</label>
        <locationX>50</locationX>
        <locationY>2339</locationY>
        <connector>
            <targetReference>Work_Encerrada</targetReference>
        </connector>
        <inputAssignments>
            <field>RemainingBaPoints__c</field>
            <value>
                <elementReference>$Record.BaPoints__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SprintRank__c</field>
            <value>
                <numberValue>9999.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IsNewRecord</targetReference>
        </connector>
        <object>AgileWork__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
